:root {
    --primary-yellow: #FFC636;
    --auxiliry-blue: #0a0b5b;
    --border-color: #9893D8;
    --border-text: #f2f2f2;
    --header-font: #DDDBFF;
}

@font-face {
    font-family: "Rubik";
    src: url("/assets/fonts/Rubik-Regular.ttf");
}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

img,
picture,
figure {
    width: 100%;
    display: block;
}

body {
    background-color: var(--auxiliry-blue);
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
}

.button {
    background: none;
    border: 2px solid var(--primary-yellow);
    color: var(--primary-yellow);
    padding: 7px 14px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.button:hover {
    color: var(--auxiliry-blue);
    background-color: var(--primary-yellow);
}

input,
textarea {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    color: var(--border-text);
}

h1,
h2,
h3,
h4 {
    color: var(--header-font);
    font-weight: normal;
}

p,
a,
li {
    color: var(--border-color);
}

h1,
h3 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.1em;
}
.leading {
    font-size: 1.1em;
}

/* small tablet size */
@media screen and (min-width: 620px) {
    body {
        font-size: 14px;
    }
}

/* large tablets and laptop size */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

/* desktop style */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}